{% extends "sscp/base.html" %}
{% block branding %}
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#"> 管理工具 </a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="#">已识别</a></li>
				<li><a href="#">未识别</a></li>
				<li><a href="#">任务管理</a></li>
				<li><a href="#">配置</a></li>
                <li><a href="#">统计</a></li>
			</ul>
			<form class="navbar-form navbar-right" role="search" action='/sscp/list/'>
				<div class="form-group">
					<input name="search" type="text" class="form-control" placeholder="搜索">
				</div>
				<select name="date" class="form-control">
					<option value="0">所有</option>
					<option value="1">今天</option>
					<option value="2">昨天</option>
					<option value="3">三天内</option>
				</select>
				<button type="submit" class="btn btn-default">查询</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% block body_content %}
	<div class="container theme-showcase">
	{% if latest_film_list %}
		<Table class="table table-hover">
		<thead>
			<tr>
				<th>检查编号</th>
				<th>病人编号</th>
				<th>病人姓名</th>
				<th>检查时间</th>
				<th>检查设备</th>
				<th>胶片数量</th>
				<th>报告数量</th>
				<th>胶片已打印</th>
				<th>报告已打印</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		{% for film in latest_film_list %}
			<tr>
			<td><a href="detail/{{film.film_ref}}">{{ film.accession_number }}</a></td>
			<td>{{ film.patient_id }}</td>
			<td>{{ film.patient_name }}</td>
			<td>{{ film.study_date }}</td>
			<td>{{ film.modality }}</td>
			<td>1</td>
			<td>1</td>
			<td>0</td>
			<td>0</td>
			<td><button type="button" class="btn btn-xs btn-primary">打印胶片</button> <button type="button" class="btn btn-xs btn-info">打印报告</button><button type="button" class="close" aria-hidden="true">&times;</button></td>
			</tr>
		{% endfor %}
		</tbody>
		</Table>
	{% else %}
		<p>No films are available.</p>
	{% endif %}
    <ul class="pager">
    	{% if previous_page == 0 %}
    	<li class="previous"><a class="disabled">上一页</a></li>
    	{% else %}
    	<li class="previous"><a href="/sscp/list/?page={{previous_page}}">上一页</a></li>
    	{% endif %}
		<span class="page-number">第 {{current_page}}页/共 {{page_count}} 页</span>
		{% if next_page >= page_count %}
		<li class="next"><a class="disabled">下一页</a></li>
		{% else %}
    	<li class="next"><a href="/sscp/list/?page={{next_page}}">下一页</a></li>
    	{% endif %}
	</ul>
	</div>
{% endblock %}
{% block foot_content %}
	<p class="right">&copy; Company 2014</p>
{% endblock %}